## Introduction to stocDL: A Financial Deep-Learning library

Importing stockDL and the required modules from the library. Here we have imported the data module which has various variables and functions related to the operations on data.

In [3]:
import stockDL
from stockDL import data

Importing the stock data, from the data module of stockDL.

In [9]:
sd_google = data.Data_Loader('GOOGL').df
sd_apple = data.Data_Loader('AAPL').df
sd_hdfc = data.Data_Loader('HDFCBANK.NS').df
sd_reliance = data.Data_Loader('RELIANCE.NS').df

In [12]:
sd_hdfc

                   Open         High          Low        Close   Volume
Date
1996-01-01     2.458312     2.458312     2.373123     2.417746   350000
1996-01-02     2.417745     2.454255     2.393406     2.413689   412000
1996-01-03     2.413689     2.429915     2.393406     2.421802   284000
1996-01-04     2.421801     2.417745     2.385292     2.405575   282000
1996-01-05     2.405576     2.417746     2.393406     2.401519   189000
...                 ...          ...          ...          ...      ...
2021-10-11  1599.900024  1645.000000  1599.000000  1633.800049  6540424
2021-10-12  1625.000000  1641.550049  1625.000000  1629.599976  4088473
2021-10-13  1637.000000  1648.000000  1630.000000  1639.400024  3112822
2021-10-14  1638.000000  1690.000000  1638.000000  1687.400024  7378644
2021-10-18  1705.000000  1725.000000  1672.650024  1684.800049  8866427

[6479 rows x 5 columns]

Candle plots for understanding the data.

In [13]:
import plotly.graph_objects as go
import pandas as pd
from datetime import datetime

fig_google = go.Figure(data=[go.Candlestick(x=df['Date'],
                open=sd_google['Open'],
                high=sd_google['High'],
                low=sd_google['Low'],
                close=sd_google['Close'])])
fig_google.show()

ModuleNotFoundError: No module named 'plotly'

In [14]:
!pip install plotly

Collecting plotly
  Downloading plotly-5.3.1-py2.py3-none-any.whl (23.9 MB)
Collecting tenacity>=6.2.0
  Downloading tenacity-8.0.1-py3-none-any.whl (24 kB)
Requirement already satisfied: six in e:\stockdl_researchconclusions\env\lib\site-packages (from plotly) (1.15.0)
Installing collected packages: tenacity, plotly
Successfully installed plotly-5.3.1 tenacity-8.0.1

WARNING: Ignoring invalid distribution -ip (e:\stockdl_researchconclusions\env\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\stockdl_researchconclusions\env\lib\site-packages)